//variables
$mobile:425px;
$tablet:768px;

.h1{
    &__pages{
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
}
}

.imagenes{
    &__service{
        height: 200px;
        width: 200px;
    }
}

.boton{
  display: flex;
  justify-content: center;
    }


@media (min-width: $tablet){
    
.section{
    &__pagos{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 5%;
    justify-items: center;
    align-items: center;
    }
}
}