//variable
$mobile: 320px;
$tablet: 768px;

.imagenFondo{
    background-image: none;
    width: 100%;
    
}

.h2{
    &__viajero{
        text-align: center;
        font-style: oblique;
        font-size: 50px;
        margin-top: 5%;
        background: linear-gradient(#c0d7e9  , white );
        @media( max-width: $mobile){
            font-size: 20px;
        }
    }
}

.h2{
    &__atencion{
        text-align: center;
        font-style: oblique;
        font-size: 50px;
        margin-top: 15px;
        background: linear-gradient(#c0d7e9  , white );
        @media( max-width: $mobile){
            font-size: 20px;
        }
    }
}



.div{
    &__atencion{
        display: grid;
        grid-template-columns: repeat(3, 320px);
        grid-template-rows: repeat(2,200px);
        align-items: center;
        justify-content: center;
        text-align: center; 
        @media( max-width: $mobile){
            display: grid;
            grid-template-columns: repeat(2, 150px);
            grid-template-rows: repeat(3,135px);
            align-items: center;
            justify-items: center;
            grid-gap: 15px 30px;
            text-align: center; }
            @media( min-width: $tablet){
                display: grid;
                grid-template-columns: repeat(3, 212px);
                grid-template-rows: repeat(2,204px);
                align-items: center;
                justify-content: center;
                margin-top: 60px;}
}
}

.h3{
    &__contacto{
    font-size: 15px;
    margin-top: 5px;
    }
}

.p{
    &__atencion{
        @media( max-width: $mobile){
            text-align:center;
    margin-top: 4px;
    font-size: 15px;
    line-height: 1;
    padding: 3%;
        }
    }
}

.div{
    &__atencion{
        &__hjos{
    display:grid;
   justify-items:center;
  align-items: center;
   text-align: center; 
    }
    }
}

.img{
    &__tamaño{
    width: 125px;
    height: 125px;
    @media( max-width: $mobile){
        width: 60px;
    height: 60px;
    }
    }
}

.section{
    &__nosotros{
        display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 50px;
    justify-items: center;
    align-items: center; 
    @media( max-width: $mobile){
        justify-items: center;
    align-items: center;
    display: block;
    }
    }
}

.img{
    &__nosotros{
        @media( min-width: $tablet){
            width: 200px;
            height: 250px;
        }
    }
}

.texto{
    &__nosotros{
        text-align: justify;
    line-height: 1.25;
    padding-right: 10%;
    font-size: 20px;
    @media( max-width: $mobile){
        line-height: 1.25;
    font-size: 17px;
    text-align: center;
    padding: 5%;}
    @media( min-width: $tablet){
        text-align: justify;
    line-height: 1.25;
    font-size: 15px;
    }
    }
}



.h2{
    &__nosotros{
        text-align: center;
        font-style: oblique;
        font-size: 50px;
        margin: 15px;
        background: linear-gradient(#c0d7e9 , white );
        @media( max-width: $mobile){
            font-size: 20px;
        }
    }
}

.h2{
    &__contacto{
        text-align: center;
    font-style: oblique;
    font-size: 50px;
    background: linear-gradient( #c0d7e9,white  );
    @media( max-width: $mobile){
        font-size: 20px;
    }
    }
}

.table{
    &__border{
        border: solid 1px black;
    width: 90%;
    font-size: 15px;
    @media( max-width: $mobile){
        font-size: 10px;
    }
    } 
}


.footer{
    background: linear-gradient(to top, #2371a8 , white );
    margin-top: 100px;
}

.ol{
    &__footer{
        text-align: center;
        list-style-type: none;
    }
}

.img{
    &__footer{
        margin-top: 20px;
    width: 50px;
    height: 50px;
    }
}

