//variable
$mobile: 425px;
$tablet: 768px;


//map

$tamaño: (
    h1: 45px,
    h2: 35px,
    h3: 25px,
    h4: 20px
    );


$h2: map-get($map: $tamaño, $key: h2 );

.h2{
    &__viajero{
        text-align: center;
        font-style: oblique;
        font-size: $h2;
        margin-top: 5%;
        background: linear-gradient(#c0d7e9  , white );
        }
    }

.imagenFondo{
    background-image: none;
    width: 100%;
}


.h2{
    &__atencion{
        text-align: center;
        font-style: oblique;
        font-size: $h2;
        margin-top: 15px;
        background: linear-gradient(#c0d7e9  , white );
    }
}

.div{
    &__atencion{
        display: grid;
        grid-template-columns: repeat(3, 320px);
        grid-template-rows: repeat(2,200px);
        align-items: center;
        justify-content: center;
        text-align: center;  
    }
}

.h3{
    &__contacto{
    font-size: 15px;
    margin-top: 5px;
    }
}

.div{
    &__atencion{
        &__hjos{
    display:grid;
   justify-items:center;
    align-items: center;
   text-align: center; 
    }
    }
}

.img{
    &__tamaño{
    width: 125px;
    height: 125px;
    }
}

.section{
    &__nosotros{
        display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 50px;
    justify-items: center;
    align-items: center; 
    }
}

@mixin parrafo {
    text-align: justify;
    line-height: 1.25;
    padding-right: 10%;
    font-size: 30px;
}

.p{
    &__atencion{
        @include parrafo;
    }
}

.texto{
    &__nosotros{
        @include parrafo;
    }
}

.h2{
    &__nosotros{
       @extend .h2__atencion;
    }
}

.h2{
    &__contacto{
        text-align: center;
    font-style: oblique;
    font-size: $h2;
    background: linear-gradient( #c0d7e9,white  );
    }
}

.table{
    &__border{
        border: solid 1px black;
    width: 90%;
    font-size: 15px;
    } 
}

.footer{
    background: linear-gradient(to top, #2371a8 , white );
    margin-top: 100px;
}

.ol{
    &__footer{
        text-align: center;
        list-style-type: none;
    }
}

.img{
    &__footer{
        margin-top: 20px;
    width: 50px;
    height: 50px;
    }
}


@media( max-width: $mobile){

    .h2{
        &__viajero{
                font-size: 20px;
        }
    }

    .h2{
        &__atencion{ 
                font-size: 20px;
            }
         } 

        .nav{
            &__pages{
            margin-top: 100px;
            display: grid;
            grid-template-columns: repeat(3, 52px);
            grid-column-gap: 50px ;
            grid-template-rows: repeat(2, 100px);
            grid-row-gap: 20px;
            align-items: center;
            justify-content: center;
            text-align: center;
            }
        }

        .hove{
            &__pages :hover{
            transform: scale(1.1);
        } 
        }
        

    .div{
        &__atencion{
                display: grid;
                grid-template-columns: repeat(2, 150px);
                grid-template-rows: repeat(3,135px);
                align-items: center;
                justify-items: center;
                grid-gap: 15px 30px;
                text-align: center; }
        }

        .p{
            &__atencion{
                    text-align:center;
            margin-top: 4px;
            font-size: 15px;
            line-height: 1;
            padding: 3%;
                }
            }
            .img {
                &__tamaño{
            width: 60px;
            height: 60px;
            }
            }
            .section{
                &__nosotros{
                    justify-items: center;
                    align-items: center;
                    display: block;
                }
            }
            .texto{
                &__nosotros{
                        line-height: 1.25;
                    font-size: 17px;
                    text-align: center;
                    padding: 5%;
                }
                }

.h2{
    &__nosotros{
            font-size: 20px;
        }
            }

.h2{
        &__contacto{
                font-size: 20px;
            }
        }

        .table{
            &__border{
                    font-size: 10px;
                }
        }
    }

@media( min-width: $tablet){
    
    .div{
        &__atencion{
    display: grid;
    grid-template-columns: repeat(3, 212px);
    grid-template-rows: repeat(2,204px);
    align-items: center;
    justify-content: center;
    margin-top: 60px;
        }
    }

.img{
    &__nosotros{
            width: 200px;
            height: 250px;
        }
    }

.texto{
    &__nosotros{
            text-align: justify;
        line-height: 1.25;
        font-size: 15px;
    }
}
}