
    @import "index";
    @import "bombas";
    @import "carroceria";
    @import "correa_tensores";
    @import "electricidad_electronica";
    @import "embragues";
    @import "frenos";
    @import "motor";
    @import "servicios";
    @import "transmision";


// variables
$mobile: 425px;
$variable: 768px;

.img{
    &__icono{
        height: 130px;
    }

}

.body{
    &__fondo{
        background-color: white;
        margin: 0;
        padding: 0;
        background-size: cover;
        background-position: center;
    }
}

.header{
    background: linear-gradient(#2371a8 , white );
}

.h1{
    &__index{
        font-size: 70px;
    text-align: center;
    margin-top: 50px;}
}

.section{
    &__pages{
    display: grid;
    align-content: center;
}
}

.pages{
    display: flex;
    width: 70px;
    height: 70px;
    align-items: center;
    padding-bottom: 5px;
    text-decoration: none;
    text-align: center;
    flex-wrap:wrap;
    justify-content: center;
}

.nav{
    &__pages{
    margin-top: 100px;
    display: grid;
grid-template-columns: repeat(4, 100px);
grid-column-gap: 50px ;
grid-template-rows: repeat(2, 170px);
grid-row-gap: 20px;
align-items: center;
justify-content: center;
text-align: center;
}
}

.hove{
    &__pages :hover{
    transform: scale(1.1);
} 
}

.div{
    &__pages{
    &__hijos {
    display: grid;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    justify-content: center;
transition: all 1s;}
}
}


    @media ( max-width: $mobile){
        .h1{
            &__index{
        font-size: 25px;
            }
    }

    .section{
        &__pagos{
            display: grid;
            grid-template-columns: 50% 50%;
            margin-top: 5%;
            justify-items: center;
            align-items: center;
        }
    }

.nav{
    &__pages{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 31px);
    grid-column-gap: 62px ;
    grid-template-rows: repeat(2, 112px);
    grid-row-gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    }
}

.section{
    &__pages{
    display: grid;
    align-content: center;
}
}

.div{
    &__pages{
        &__hijos{
    display: grid;
    text-align: center;
    justify-content: center;
    transition: all 1s;
    text-decoration: none;
    list-style-type: none;
        }
    } 
}

.hove{
    &__pages :hover{
        transform: scale(1.1)
    }
}

.texto__{
    &__menu{
        text-decoration: none;
    width: 70px;
    text-align: center;
    }
}

.pages{
    width: 30px;
    height: 30px;
    align-items: center;
    padding-bottom: 5px;
    text-decoration: none;
    text-align: center;
}

.footer{
    background: linear-gradient(to top, #2371a8 , white );
    margin-top: 50px;
}

.ol{
    &__footer{
        text-align: center;
        list-style-type: none;
        font-size: 10px;
    }
}

.img{
    &__footer{
        margin-top: 20px;
    width: 20px;
    height: 20px;
    }
}
    }

